@model ItemTagCollection
           
@foreach (var tag in Model)
{
    var tagversion = string.IsNullOrWhiteSpace(tag.Version) ? tag.Name : string.Format("{0}[{1}]", tag.Name, tag.Version);
    <span>@tag.Version</span>
}
