@import "tag.less";
@import "markdown-editor.less";
@import "item-viewer.less";
@import "item-list.less";
@import "diff.less";
@import "../bootstrap/variables.custom.less";

.navbar-nav {
    img.icon-image {
        width: 22px;
        height: 22px;
    }
    .global-search {
        margin-left: 16px;
}
}

.list-group-item {

    position: relative;
    padding: 10px 0;
    border-bottom: none;
    border-top: solid 1px #dddddd;

    &:first-child {
        border-top: none;
    }

    .comment-count {
        position: absolute;
        top: 10px;
        right: 0;

        .badge {
            font-weight: normal;
            font-family: Consolas Menlo;
            padding: 1px;
            display: block;
            min-width: 20px;
            height:14px;
            line-height: 14px;
            vertical-align: middle;
        }
    }

    .icon {
        float: left;
        padding-right: 12px;
    }

    img.icon-image {
        position: relative;
        top: -1px;
        width: 44px;
        height: 44px;
    }

    .list-group-item-heading {
        line-height: 22px;
        vertical-align: bottom;
        font-size: 18px;
        font-weight: bold;

        a {
            color: #BE7979;
        }
    }
}

.navbar-brand {
    font-size: 26px;
    font-family: 'Questrial', sans-serif;
}

.navbar {
    .nav {
        font-size: 12px;
    }
}

#comment-area {
    /*padding-left: 10px;
    padding-right: 10px;*/
}

.comment-list {
    /*padding-bottom: 20px;*/
}

.comment-content {
    &:before {
        display: table;
        content: "";
    }

    &:after {
        display: table;
        clear: both;
        content: "";
    }

    .comment-user {
        font-size: 11px;

        &:after {
            content: " ";
        }

        .icon-image {
            width: 26px;
            height: 26px;
        }
    }

    .item-viewer {
        border: solid;
        border-color: #eaeaea;
        border-radius: 3px;
        border-width: 1px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }
}

textarea.comment-editor {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    max-height: 200px;
    min-height: 200px;
    resize: none;
}

.comment-editor-area {
    .item-viewer{
        border: solid;
        border-color: #eaeaea;
        border-radius: 3px;
        border-width: 1px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        max-height: 200px;
        min-height: 200px;
        overflow: auto;
    }

    div.file {
        display: inline-block;
        overflow: hidden;
        position: relative;
        padding: .5em;
        border: 1px solid #999;
        background-color: #eee;
        font-weight: @btn-font-weight;
        touch-action: manipulation;
        border-radius: 3px;

        input[type="file"] {
            opacity: 0;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
            position: absolute;
            right: 0;
            top: 0;
            margin: 0;
            font-size: 100px;
            cursor: pointer;
        }
    }
}

.navbar {
    form {
        margin-top: 11px;
    }
}

.footer {
    border-top: solid 1px #eeeeee;
    padding-top: 8px;
}

.fixed-menu {
    position: fixed;
    top: 5px;
    bottom: 5px;
    overflow-y: auto;
    z-index: 1;
    background: white;
}

.menu-item {
    padding: 6px 0px;
}

#page-menu li {
    display: block;
}

#page-menu li a {
    display: block;
}

#page-menu li.active {
    background-color: #efefef;
}
