/*body {
    font-family: "Helvetica Neue",Helvetica,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}*/

textarea.markdown-editor {
    border: none;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    max-height: 450px;
    min-height: 450px;
    resize: none;
}

@media (min-width: 768px) {
    div.editor-panel-area {
        padding-right: 0;
    }
}

div.file {
    display: inline-block;
    overflow: hidden;
    position: relative;
    padding: .5em;
}

    div.file input[type="file"] {
        opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        font-size: 100px;
        cursor: pointer;
    }

.item-editor {
    border: none;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    max-height: 450px;
    min-height: 450px;
    resize: none;
}

.item-view p {
    line-height: 1.6;
}

.item-view img {
    max-width: 100%;
    height: auto;
}

.markdown-body {
    min-width: 200px;
    margin: 0 auto;
    padding: 30px;
}

.main-area {
    margin-top: 22px;
}

    .main-area .list-group-item {
        border-left: none;
        border-right: none;
        -ms-border-radius: 0;
        border-radius: 0;
    }

        .main-area .list-group-item:first-child {
            border-top: none;
        }

.tag {
    position: relative;
    display: inline-block;
    font-size: 12px;
    padding: 0 4px;
    background: #B0A9BC;
    color: #FFFFFF;
    -ms-border-radius: 2px;
    border-radius: 2px;
    height: 14px;
    line-height: 14px;
    vertical-align: middle;
    margin-left: 7px;
}

    .tag:before {
        display: block;
        position: absolute;
        content: ' ';
        text-indent: -10000;
        width: 1px;
        height: 1px;
        border-style: solid;
        border-color: transparent #B0A9BC transparent transparent;
        border-width: 7px;
        left: -13px;
    }

.item-meta-info {
    margin: 6px 0 0;
    font-size: 12px;
    color: #909090;
}
